/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Fonts

mainfont: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

*/
/* Colours
darkPurple: '#38003C',
white: '#fff',
midGrey: '#999',
midPurple: '#641B6A',
offWhite: '#f4f2f4'

*/
/*
 * Base structure
 */
html,
body {
  color: #fff;
  background-color: #fff;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }

.container {
  padding: 0; }

.page-header {
  background-image: url("./img/header-pick5.png");
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0 !important;
  padding: 1.5em;
  border-bottom: 4px solid #999; }

.container-footer {
  background-color: #38003C;
  color: #f4f2f4;
  padding: 1.5em;
  margin-top: 2.5em;
  font-size: 0.5em; }
