/*
 * Globals
 */
/* Fonts

mainfont: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

*/
/* Colours

darkPurple: '#38003C',
white: '#fff',
lightGrey: '#e0e0e0',
midGrey: '#999',
darkGrey: '#4f4f4f',
midPurple: '#641B6A',
magenta: '#814586',
offWhite: '#FAFAFA'

*/
/*
 * Base structure
 */
html,
body {
  color: #fff;
  background-color: #FAFAFA;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }

.container {
  padding: 0;
  background-color: #fff; }

/* Header elements
*/
.page-header {
  background-image: url("./img/header-pick5.png");
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0 !important;
  padding: 1em;
  border-bottom: .5em solid #814586; }

.logo {
  height: 6em;
  display: block; }

h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left; }

h3, li {
  color: #4f4f4f; }

h3 {
  padding-top: 0; }

small {
  display: block;
  font-style: normal;
  margin-top: 0.5em;
  color: #FAFAFA !important;
  font-size: .5em !important; }

/* Add player form elements
*/
.inputAndButtons {
  display: flex;
  justify-content: center; }

.form-control {
  width: 100%;
  margin-right: 1em; }

.btn-add {
  background-color: #641B6A;
  border: none;
  color: white;
  font-size: 3em;
  padding: 0.5em 1em;
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15%;
  margin-left: 1em; }

.btn-generate:disabled,
.btn-add:disabled {
  background-color: #cccccc;
  color: #666666; }

.btn-reset {
  background-color: #fff;
  border: 2px solid #641B6A;
  color: #641B6A;
  padding: 0.5em 1em;
  margin: 1em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10%; }

.playerRoster h3 {
  margin-top: 0; }

.list-group {
  width: 50%;
  margin: auto;
  padding: 1.5em 0; }

.list-group-item {
  background-color: #e0e0e0;
  border: 1px solid #641B6A; }

.btn-del {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1em;
  float: right;
  color: #4f4f4f; }

.btn-del:hover {
  color: red; }

/* Generate teams elements
*/
.btn-generate {
  background-color: #641B6A;
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  margin: 0 6em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4%; }

.balls-container {
  display: flex;
  justify-content: center;
  margin-top: 1em; }

.balls-icon {
  height: 2em; }

.teams-container {
  display: flex;
  justify-content: center; }

.teamA li,
.teamB li {
  color: #fff !important;
  font-size: 1.5em;
  list-style-type: none; }

.teamA h3,
.teamB h3 {
  font-weight: bold;
  padding-bottom: 1.5em; }

.teamA-list,
.teamB-list {
  position: relative;
  bottom: 16em; }

.teamA-shirt,
.teamB-shirt {
  width: 80%; }

/* Footer elements
*/
.container-footer {
  background-color: #38003C;
  color: #FAFAFA !important;
  padding: 1.5em;
  margin-top: 2.5em;
  font-size: 0.75em; }
